body{
    font-family: 'Anton', sans-serif;
    margin: 0;
}
.h1{
    font-size: 60px;
}
.other{
    color:orange;
}
section{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 4%;
    padding-top: 7%;
}
.half-width img{
    width:78%;
    
    
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient( #ffa500,orangered );
    padding: 8px 35px;
    border-radius: 19px;
    color: white;
    font-weight: 400;
}